body div{
	background-color: #a9dcc5;
	margin: 5px 300px 5px 300px;
	padding: 10px 10px 10px 10px;
}
a {
	background-color: #9fbbd6;
	height: 30px;
	width: 150px;
	border: 2px solid black;
	border-radius: 5px;
	border-color: #6785e7;
	display: inline-block;
}
#meniu {
	width: 800px;
	height: 50px;
	margin: auto;
}
#footer {
	margin: auto;
}
.right {
	heigh: 500px;
	width: 500px;
	border: 2px solid black;
	float: right;
}