body div{
	background-color: #a9dcc5;
	width: 1000px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
a {
	background-color: #9fbbd6;
	height: 30px;
	width: 150px;
	border: 2px solid #9369e7;
	border-radius: 5px;
	border-color: #6785e7;
	display: inline-block;
}
#meniu {
	width: 800px;
	height: 50px;
	margin: auto;
	text-align: center;
}
#topic {
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 18px;
}
#header {
	margin: auto;
	width: 980px;
}
#footer {
	margin: auto;
	width: 980px;
}
#left {
	background-color: #c087e9;
	height: 400px;
	width: 520px;
	border: 2px solid #09369e7;
	margin: 20px 10px 20px 20px;
	float: left;
	display: inline;
}
img {
	background-color: #c087e9;
	width: 350px;
	height: 350px;
	border: 2px solid #9369e7;
	margin: 20px 10px 20px 10px;
	display: inline;
	}
#right {
	background-color: #c087e9;
	width: 300px;
	height: 200px;
	border: 2px solid #9369e7;
	margin: 10px 20px 20px 620px;
	
}
#name {
	font-family: Comic Sans MS, cursive, sans-serif;
	font-size: 30px;
#image {
	width: 100;
	height: 80;
}
